/* styles.css */
body {
    margin: 0; /* Remove default body margin */
    overflow: hidden; /* Prevent scrollbars */
  }
  
  /* Additional styles for the logo */
  img.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Styling for the video background */
  video#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure video covers the entire viewport */
    z-index: -1; /* Place the video behind other elements */
  }
  
  /* Styling for the header section */
  header {
    position: relative; /* Ensure the header is positioned relative to the body */
    z-index: 1; /* Place the header above the video */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background color to make text more readable */
  }
  
  h1 {
    color: #FFFFFF; /* White color */
    font-weight: bold; /* Bold font weight */
  }
  
  /* Additional styles for the map container (if needed) */
  #map {
    position: relative; /* Ensure the map container is positioned relative to the body */
    z-index: 1; /* Place the map above the video */
  }